/*
Mobile: 375px
Desktop: 1440px 
Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.
*/

body {
  font-size: 16px;
}

/* Family: [Barlow Semi Condensed]
Weights: 500, 600 */

/* Fonts */

@font-face {
  font-family: 'Barlow Semi Condensed Light';
  src: url('../fonts/BarlowSemiCondensed-Light.woff2') format('woff2'),
      url('../fonts/BarlowSemiCondensed-Light.woff') format('woff'),
      url('../fonts/BarlowSemiCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed Italic';
  src: url('../fonts/BarlowSemiCondensed-Italic.woff2') format('woff2'),
      url('../fonts/BarlowSemiCondensed-Italic.woff') format('woff'),
      url('../fonts/BarlowSemiCondensed-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed Light Italic';
  src: url('../fonts/BarlowSemiCondensed-LightItalic.woff2') format('woff2'),
      url('../fonts/BarlowSemiCondensed-LightItalic.woff') format('woff'),
      url('../fonts/BarlowSemiCondensed-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed Thin Italic';
  src: url('../fonts/BarlowSemiCondensed-ThinItalic.woff2') format('woff2'),
      url('../fonts/BarlowSemiCondensed-ThinItalic.woff') format('woff'),
      url('../fonts/BarlowSemiCondensed-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed Medium Italic';
  src: url('../fonts/BarlowSemiCondensed-MediumItalic.woff2') format('woff2'),
      url('../fonts/BarlowSemiCondensed-MediumItalic.woff') format('woff'),
      url('../fonts/BarlowSemiCondensed-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed Bold';
  src: url('../fonts/BarlowSemiCondensed-Bold.woff2') format('woff2'),
      url('../fonts/BarlowSemiCondensed-Bold.woff') format('woff'),
      url('../fonts/BarlowSemiCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed Black';
  src: url('../fonts/BarlowSemiCondensed-Black.woff2') format('woff2'),
      url('../fonts/BarlowSemiCondensed-Black.woff') format('woff'),
      url('../fonts/BarlowSemiCondensed-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi CondensedRegular';
  src: url('../fonts/BarlowSemiCondensed-Regular.woff2') format('woff2'),
      url('../fonts/BarlowSemiCondensed-Regular.woff') format('woff'),
      url('../fonts/BarlowSemiCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed Extra Bold';
  src: url('../fonts/BarlowSemiCondensed-ExtraBold.woff2') format('woff2'),
      url('../fonts/BarlowSemiCondensed-ExtraBold.woff') format('woff'),
      url('../fonts/BarlowSemiCondensed-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed Medium';
  src: url('../fonts/BarlowSemiCondensed-Medium.woff2') format('woff2'),
      url('../fonts/BarlowSemiCondensed-Medium.woff') format('woff'),
      url('../fonts/BarlowSemiCondensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed Semi Bold';
  src: url('../fonts/BarlowSemiCondensed-SemiBold.woff2') format('woff2'),
      url('../fonts/BarlowSemiCondensed-SemiBold.woff') format('woff'),
      url('../fonts/BarlowSemiCondensed-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed Thin';
  src: url('../fonts/BarlowSemiCondensed-Thin.woff2') format('woff2'),
      url('../fonts/BarlowSemiCondensed-Thin.woff') format('woff'),
      url('../fonts/BarlowSemiCondensed-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed Black Italic';
  src: url('../fonts/BarlowSemiCondensed-BlackItalic.woff2') format('woff2'),
      url('../fonts/BarlowSemiCondensed-BlackItalic.woff') format('woff'),
      url('../fonts/BarlowSemiCondensed-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed Extra Light';
  src: url('../fonts/BarlowSemiCondensed-ExtraLight.woff2') format('woff2'),
      url('../fonts/BarlowSemiCondensed-ExtraLight.woff') format('woff'),
      url('../fonts/BarlowSemiCondensed-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed Extra Bold Italic';
  src: url('../fonts/BarlowSemiCondensed-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/BarlowSemiCondensed-ExtraBoldItalic.woff') format('woff'),
      url('../fonts/BarlowSemiCondensed-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed Extra Light Italic';
  src: url('../fonts/BarlowSemiCondensed-ExtraLightItalic.woff2') format('woff2'),
      url('../fonts/BarlowSemiCondensed-ExtraLightItalic.woff') format('woff'),
      url('../fonts/BarlowSemiCondensed-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed Bold Italic';
  src: url('../fonts/BarlowSemiCondensed-BoldItalic.woff2') format('woff2'),
      url('../fonts/BarlowSemiCondensed-BoldItalic.woff') format('woff'),
      url('../fonts/BarlowSemiCondensed-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed Semi Bold Italic';
  src: url('../fonts/BarlowSemiCondensed-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/BarlowSemiCondensed-SemiBoldItalic.woff') format('woff'),
      url('../fonts/BarlowSemiCondensed-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Note for text colors:
1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity */

:root {
  /* Primary */
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  /* Neutral */
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

.daniel-clifford { 
  grid-area: daniel-clifford;
  background-color: var(--moderate-violet);
  color: var(--white);
}

.jonathan-walters { 
  grid-area: jonathan-walters;
  background-color: var(--very-dark-grayish-blue);
  color: var(--white);

}

.jeanette-harmon { 
  grid-area: jeanette-harmon;
  background-color: var(--white);
  color: var(--very-dark-blackish-blue);

}

.patrick-abrams { 
  grid-area: patrick-abrams;
  background-color: var(--very-dark-blackish-blue);
  color: var(--white);

}

.kira-whittle { 
  grid-area: kira-whittle;
  background-color: var(--white);
  color: var(--very-dark-blackish-blue);
  
}

.grid-container {
  display: grid;
  grid-template-areas:
    'daniel-clifford' 
    'jonathan-walters'
    'jeanette-harmon' 
    'patrick-abrams'
    'kira-whittle';
  gap: 10px;
  background-color: var(--light-gray);
  padding: 10px;
}

.grid-container > div {
  text-align: left;
  padding: 20px;
  border-radius: 10px;
}

.quote-author-info {
  display: flex;
}

.quote-author-info img {
  border-radius: 50%;
  border: 2px solid var(--white);
  width: 40px;
}

@media screen and (min-width: 768px) {
  body * {
    border: 4px solid red;
  }

  .grid-container {
    display: grid;
    grid-template-areas:
      'daniel-clifford daniel-clifford daniel-clifford daniel-clifford jonathan-walters kira-whittle'
      'jeanette-harmon patrick-abrams patrick-abrams patrick-abrams patrick-abrams kira-whittle';
    gap: 10px;
    background-color: var(--light-gray);
    padding: 10px;
  }
  
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border-radius: 10px;
  }
}


@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }

@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }

@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }

@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }

@media (min-width:1281px) { /* hi-res laptops and desktops */ }
